[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/log"]
	path = vendor/log
	url = https://github.com/shreejitmurthy/log.c.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/box2cpp"]
	path = Vendor/box2cpp
	url = https://github.com/HolyBlackCat/box2cpp.git
[submodule "Vendor/box2d"]
	path = Vendor/box2d
	url = https://github.com/erincatto/box2d.git
